@model IEnumerable<webDemo.Models.Role>

    <h1 class="mt-4">QUẢN LÝ QUYỀN TRUY CẬP</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Roles" asp-action="Index">Quản lý quyền truy cập</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Roles" asp-action="Create">Tạo mới quyền truy cập</a></li>

    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>RoleName</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                    <tr>
                        <th scope="row">@item.RoleId</th>
                        <th >@item.RoleName</th>
                        <th >@item.RoleDescription</th>
                        <th>
                            <a asp-action="Edit" asp-route-id="@item.RoleId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.RoleId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.RoleId">Delete</a>
                        </th>
                    </tr>
                        }
                    }
                </tbody>


            </table>
        </div>
    </div>